.header-container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(var(--background-color));
    z-index: 9;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo{
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}

.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-links-clickable{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header-dropshadow{
    box-shadow: var(--dropshadow);
    background-color: rgb(var(--background-color));
    z-index: 1;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

.hide-hamburger{
    display: none;
}


.phone-menu{
    position: fixed;
    top: 100px;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    background-color: rgb(var(--background-color));
    height: auto;
    width: 0px;
    height: 60px;
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.2);
}

.phone-menu-open{
    width: 100%;
}


@media only screen and (max-width: 920px) {
    .hide-hamburger{
        display: block;
        transition: transform 0.2s ease-in-out;
    }
    .hide-hamburger:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
    }
    .header-links-clickable{
        display: none;
    }
}